* {
  padding: 0px;
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

.fakeimg {
  height: 450px;
  width: 300px;
  background-image: url(https://images.unsplash.com/photo-1630476387426-52c6e0b14e50?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1534&q=80);
  background-repeat: no-repeat;
  background-size: 300px 450px;
  box-shadow: 5px 5px 5px black;
  border-radius: 10px;
}

img {
  margin-top: 20px;
  height: 30px;
  width: 30px;
}

table,
th,
td {
  border: solid 1px black;
}

.navbar-brand {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: bold;
}

.aboutMe {
  font-weight: bold;
  font-style: italic;
}

h2 {
  font-weight: bold;
}

.tt {
  font-weight: bold;
  font-style: italic;
}

.des li {
  font-size: 18px;
}

.jumbotron.text-center {
  height: 100px;
  background-color: black;
  margin-top: 10%;
}

.jumbotron.text-center li {
  margin: 5px;
  display: inline-block;
}

.des {
  padding: 30px;
  box-shadow: 3px 4px 10px black;
  margin-bottom: 50px;
  border-radius: 10px;
}

.title {
  font-size: 45px;
  font-weight: 900;
  margin-bottom: 1px;
}

.container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  color: black;
}

.backHome {
  margin-top: 30px;
  font-weight: bold;
  margin-left: 20px;
}

table {
  box-shadow: 3px 4px 10px black;
  border-radius: 10px;
  padding: 10px;
}

th {
  font-size: 20px;
}

#findVowel {
  width: 30%;
  box-shadow: 3px 4px 10px black;
  border-radius: 10px;
  padding: 30px;
  margin-bottom: 50px;
  margin-top: 20px;
  margin-left: 20px;
}

#reverseNumber {
  width: 30%;
  box-shadow: 3px 4px 10px black;
  border-radius: 10px;
  padding: 30px;
  margin-bottom: 50px;
  margin-top: 20px;
  margin-left: 20px;
}

#find {
  margin-top: 10px;
  height: 30px;
  width: 60px;
  cursor: pointer;
  font-weight: 700;
  background-color: white;
  border-radius: 6px;
  box-shadow: 2px 2px 7px black;
}

#find:hover {
  background-color: rgb(118, 168, 209);
  color: white;
}

#reverse {
  margin-top: 10px;
  height: 30px;
  width: 60px;
  cursor: pointer;
  font-weight: 700;
  background-color: white;
  border-radius: 6px;
  box-shadow: 2px 2px 7px black;
}

#reverse:hover {
  background-color: rgb(118, 168, 209);
  color: white;
}
